/*
 * User-agent level style sheet defaults for the Fullscreen API
 * https://fullscreen.spec.whatwg.org/#user-agent-level-style-sheet-defaults
 *
 * FIXME: Use the :fullscreen pseudo-class instead of :-webkit-full-screen.
 * (see crbug.com/402378)
 */

:not(:root):-webkit-full-screen {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    transform: none !important;
}

iframe:-webkit-full-screen {
    border: none !important;
    padding: 0 !important;
}

/* Anything below are extensions over what the Fullscreen API mandates. */

/* FIXME: Remove these rules when moving Fullscreen to top layer.
   (see crbug.com/240576) */
:-webkit-full-screen {
    background-color: white;
    z-index: 2147483647 !important;
}

video:-webkit-full-screen, audio:-webkit-full-screen {
    background-color: transparent !important;
}

:-webkit-full-screen-ancestor:not(iframe) {
    z-index: auto !important;
    position: static !important;
    opacity: 1 !important;
    transform: none !important;
    -webkit-mask: none !important;
    clip: none !important;
    -webkit-filter: none !important;
    transition: none !important;
    -webkit-box-reflect: none !important;
    -webkit-perspective: none !important;
    -webkit-transform-style: flat !important;
}

/* This prevents video from overflowing the viewport in
   virtual/android/fullscreen/video-scrolled-iframe.html
   FIXME: We should remove this (see crbug.com/441890). */
:-webkit-full-screen-ancestor {
    overflow: hidden !important;
}
