<body>
<p>Layout test for
<a href="http://bugs.webkit.org/show_bug.cgi?id=11760">11760</a>.  If it
doesn't crash, we're good.
<img src="resources/animated-gif-with-offsets.gif">
</body>
<script>

// Delay 50ms for each frame.
function delay() {
  var startTime = new Date().getTime();
  while (new Date().getTime() - startTime < 50);
}

var count = 3;

function displayOneFrame() {
  delay();
  if (--count >= 0)
    testRunner.displayAsyncThen(displayOneFrame);
  else
    testRunner.notifyDone();
}

if (window.testRunner) {
  testRunner.waitUntilDone();
  testRunner.dumpAsText();
  setTimeout(displayOneFrame, 50);
}

</script>
